#window {
	border: 1px solid #bd93f9;
	background-color: #282a36;
	opacity: 0.9;
}

#input {
	margin: 5px;
	padding: 1rem;
	border: none;
	color: #f8f8f2;
	background-color: #44475a;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #282a36;
}

#outer-box {
	margin: 5em;
	border: none;
	background-color: #282a36;
}

#scroll {
	margin: 0px;
	border: none;
	width: 100px;
}

#text {
	margin: 5px;
	border: none;
	color: #f8f8f2;
} 

#entry {
	background-color: #282a36;
}

#entry:hover, #entry:selected {
	background-color: #44475a;
}

